# Node
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
dist-ssr/
*.local

# Editor folders
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
logs
*.log
logs/*.log
lerna-debug.log

# Output
build/
coverage/
temp/

# Environment
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db

# Vite cache
.vite/
vite.config.ts.timestamp-*